.ServiciosContain{
    display: flex;
    flex-direction: column;
    padding: 100px 6% 200px;
    gap: 5rem;
    text-align: left;
    justify-content: left;
}
.ServiciosContain h2{
    color: var(--color2);
    border-bottom: 2px solid var(--color2);
    font-size: 50px;
    width: 60%;
    cursor: pointer;
}
.ServicioDato{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 1rem;
}
.ServicioDato p{
    color: var(--text-color2);
}
.ServicioDato button{
    background-color: var(--color2);
    color: var(--blanco);
    padding: 7px 10px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
   
}
@media (max-width: 1024px) {
    .ServiciosContain{
       
        padding: 50px 6% 50px;
    }
    .ServiciosContain h2{
        color: var(--color2);
        border-bottom: 2px solid var(--color2);
        font-size: 25px;
        width: 100%;
    }
    
}