.Developer{
    background: linear-gradient(90deg, var(--color2) 1%, var(--color1) 100%);
    padding: 30px;
    display: flex;
    justify-content: center;

}
.Developer {
    color: var(--blanco);
    cursor: pointer;
}




@media (max-width: 900px){
   
    .Developer{
        padding: 20px  3%;
        text-align: center;
    
    }
   
}